﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navigation-account {
    background-color: #FFF;
    padding-top: 5px;
}

.navigation {
    background-color: rgba(101, 158, 199, 0.6);
    padding: 10px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#myCarousel {
    margin-top: 30px;
}


#loginBox {
    background-color: rgba(255, 255, 255,0.7);
    width: 50%;
    border-radius: 5%;
    border: 1px solid #dddddd;
    padding: 20px 10%;
    margin-top: 20px;
}

#indexH1 {
    color: #659EC7;
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.aside {
    margin-top: 60px;
    text-align: center;
    font-size: 125%;
}


.list {
    margin-bottom: 30px;
    margin-top: 20px;
    color: #659EC7;
    font-size: 125%;
}

.books {
    margin-top: 30px;
}

.thumbnail {
    width: 20%;
    height: 220px;
    float: left;
    margin-right: 4%;
    margin-bottom: 45px;
    border: none;
}

.thumbnail:hover {
    opacity: 0.8;
}

.thumbnail img {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-aside {
    margin-top: 60px;
}

    .left-aside h4 {
        color: #659EC7;
        font-size: 150%;
    }

.right-aside {
    margin-top: 60px;
    margin-right: 0;
}

.groups {
    margin-bottom: 40px;
    font-size: 125%;
}

.members-list {
    margin-top: 7px;
    margin-left: 7px;
    color: #659EC7;
    float: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.book {
    width: 100%;
    margin-top: 60px;
    padding: 30px 13%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    height: 600px;
}

.right-aside-group {
    margin-top: 60px;
    margin-right: 0;
    padding-left: 2%;
}

#viewImage {
    width: 15%;
    float: left;
}

.post {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    margin-bottom: 10px;
    padding: 3px 5%;
}