﻿@model Fiction2.Models.MainViewModel

@{
    ViewData["Title"] = "BrowseGroups";
}

<div class="row" style="margin-top: 50px; ">
    <div class="col-md-9">
        <h2 style="color: #659EC7;">Browse Groups</h2>
        <div>
            <form>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div style="width: 100%; height: 80px;" class="input-group">
                    <input  name="SearchString" style="width: 60%; height: 50%" class="form-control" placeholder="Search" />
                    <span class="input-group-append">
                        <button style="height: 50%" type="submit" class="btn btn-default"><img src="~/images/search.png" style="width: 20px;"></button>
                    </span>
                    <span class="text-danger"></span>
                </div>
            </form>
        </div>



        @foreach (var group in Model.Groups)
        {
            <div class="groups">
                <a asp-controller="MyPages" asp-action="ViewGroup" asp-route-id="@group.Id" style="font-size: 160%; font-weight: bold; color: black;">@group.Name</a>
                <p>@group.Description</p>
                <h4 style="float: left; font-weight: bold">Members: </h4>
                @foreach (var member in @group.GroupMembers)
                {
                    <p class="members-list">@member.ApplicationUser.UserName</p>
                }
            </div>
            <br>
        }
    </div>

    <div class="col-md-3 aside">
        <h4>MY BOOKS</h4>
        <div class="list">
            @if (Model.MyBooks.Count > 0)
            {
                @foreach (var book in Model.MyBooks)
                {
                    <a asp-controller="Books" asp-action="Write" asp-route-id="@book.Id">@book.Name</a>
                    <br>
                }
            }
            else
            {
                <p>No Books Yet</p>
            }

        </div>
        <h4>MY GROUPS</h4>
        <div class="list">
            @if (Model.MyGroups.Count > 0)
            {
                @foreach (var group in Model.MyGroups)
                {
                    <a asp-controller="MyPages" asp-action="ViewGroup" asp-route-id="@group.Id">@group.Name</a>
                    <br>
                }
            }
            else
            {
                <p>No Groups Yet</p>
            }
        </div>
    </div>
</div>