﻿@model Fiction2.Models.MainViewModel

@{
    ViewData["Title"] = "Main";
}

<div style="margin-top: 80px;" class="row">
    <div class="col-md-9">
        <form asp-controller="Main" asp-action="Main" method="get">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="width: 140%; margin-left: 10%; height: 80px;" class="input-group">
                <input name="SearchString" style="width: 50%; height: 50%" class="form-control" placeholder="Search" />
                <span class="input-group-append">
                    <button style="height: 50%" type="submit" class="btn btn-default" value="Filter"><img src="~/images/search.png" style="width: 20px;"></button>
                </span>
                <span class="text-danger"></span>
            </div>
        </form>

        <div class="books">
            @foreach (var book in Model.Books)
            {

                var base64 = Convert.ToBase64String(book.Image);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);


                <div class="thumbnail">
                    <a asp-controller="Books" asp-action="Read" asp-route-id="@book.Id">
                        <img src="@imgSrc" alt="Lights" style="width:80%; height:100%;">
                        <div class="caption" style="text-align: center; padding: 10px 0;">
                            <p><b>@book.Name</b></p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="col-md-3 aside">
        <h4>MY BOOKS</h4>
        <div class="list">
            @if (Model.MyBooks.Count > 0)
            {
                @foreach (var book in Model.MyBooks)
                {
                    <a asp-controller="Books" asp-action="Write" asp-route-id="@book.Id">@book.Name</a>
                    <br>
                }
            }
            else
            {
                <p>No Books Yet</p>
            }

        </div>
        <h4>MY GROUPS</h4>
        <div class="list">
            @if (Model.MyGroups.Count > 0)
            {
                @foreach (var group in Model.MyGroups)
                {
                    <a asp-controller="MyPages" asp-action="ViewGroup" asp-route-id="@group.Id">@group.Name</a>
                    <br>
                }
            }
            else
            {
                <p>No Groups Yet</p>
            }
        </div>
    </div>


</div>

