﻿@model Fiction2.Models.UserViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="container" style="margin-top: 60px;">
    @{
        var base64 = Convert.ToBase64String(Model.ApplicationUser.Image);
        var imgSrc = String.Format("data:image/png;base64,{0}", base64); 
     }
    <img class="img-rounded" id="viewImage" src="@imgSrc" alt="ICON" style="float: left; width: 10%; margin-right: 1%;">
    <h2 style="color: #659EC7; font-size: 300%; margin-bottom: 0;">@Model.ApplicationUser.FullName</h2>
    <em style="font-size: 125%; text-decoration: underline">@Model.ApplicationUser.UserName</em>
    <p style="font-size: 125%;">@Model.ApplicationUser.About</p>
    <hr />


    <div class="row">
        <div class="col-md-4">
            <h4 style="font-weight: bold; font-size: 175%;">Groups</h4>

            @foreach (var member in Model.ApplicationUser.GroupMembers)
            {
                <p class="members-list" style="float: none; font-size: 150%;">@member.Group.Name</p>
            }


        </div>
        <div class="col-md-8" style="border-left: 1px solid #888888; height: 450px;">
            <h4 style="font-weight: bold; font-size: 175%;">Books</h4>
            <div class="books" style="margin-left: 3%;">

                @foreach (var book in Model.Books)
                {

                    var _base64 = Convert.ToBase64String(book.Image);
                    var _imgSrc = String.Format("data:image/png;base64,{0}", _base64);
                   
                    <div class="thumbnail">
                        <a asp-controller="Books" asp-action="Read" asp-route-id="@book.Id">
                            <img src="@_imgSrc" alt="Lights" style="width:90%; height: 90%;">
                            <div class="caption" style="text-align: center; padding: 10px 0;">
                                <p><b>@book.Name</b></p>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
