﻿@model Fiction2.Models.Group

<div id="loginBox" style="width: 100%; margin-left: 10%; margin-top: 10px;">
    <h4 style="color: #659EC7; font-size: 180%;">Create a New Group</h4>
    <hr />
    <form asp-action="CreateGroup" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea style="border-radius: 3%; border: 1px solid #bbbbbb;" asp-for="Description" cols="54" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
