﻿@model Fiction2.Models.CreateBookViewModel

<div id="loginBox" style="width: 100%; margin-left: 10%; margin-top: 10px;">
    <h4 style="color: #659EC7; font-size: 180%;">Create a New Group</h4>
    <hr />
    <form asp-action="CreateBook" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <img id="viewImage" src="~/images/cover.jpg" alt="ICON">
        <div class="form-group">
            <label asp-for="Image" style="margin-top: 25px; margin-left: 2%;"></label>
            <label class="btn btn-default btn-file">
                Browse <input asp-for="Image" type="file" style="display: none;" onchange="readURL(this)">
            </label>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <br>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea style="border-radius: 3%; border: 1px solid #bbbbbb;" asp-for="Description" cols="55" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupId"></label>
            <select asp-for="GroupId" class="form-control">

                @foreach (var group in Model.MyGroups)
                {
                    <option value="@group.Id">@group.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" value="Create" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
