﻿@model Fiction2.Models.MainViewModel

@{
    ViewData["Title"] = "MyBooks";
}

<script type="text/javascript">
	function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	        	document.getElementById("viewImage").src = e.target.result;
	        }

	        reader.readAsDataURL(input.files[0]);
	    }
	}
</script>
<div style="margin-top: 70px; width: 100%" class="row">
    <div class="col-md-7">
        <h2 style="color: #659EC7;">My Books</h2>
        <hr />
        <div class="books">
            @if (Model.MyBooks.Count > 0)
            {
                @foreach (var book in Model.MyBooks)
                {

                    var base64 = Convert.ToBase64String(book.Image);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);


                    <div class="thumbnail">
                        <a asp-controller="Books" asp-action="Write" asp-route-id="@book.Id">
                            <img src="@imgSrc" alt="Lights" style="width:100%; height: 90%;">
                            <div class="caption" style="text-align: center; padding: 10px 0;">
                                <p><b>@book.Name</b></p>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <p style="font-size: 150%;">No Books Yet</p>
            }

        </div>
    </div>

    <div class="col-md-5">
        @{ Html.RenderPartial("CreateBook", new CreateBookViewModel() { MyGroups = Model.MyGroups}); }
    </div>


</div>
