﻿@model IList<Fiction2.Models.Group>

@{
    ViewData["Title"] = "MyGroups";
}

<div style="margin-top: 70px; width: 100%" class="row">
    <div class="col-md-7">
        <h2 style="color: #659EC7;">My Groups</h2>
        <hr />
        @if (Model.Count > 0)
        {
            @foreach (var group in Model)
            {
                <div class="groups">
                    <a asp-action="ViewGroup" asp-route-id="@group.Id" style="font-size: 160%; font-weight: bold; color:black">@group.Name</a>
                    <p>@group.Description</p>
                    <h4 style="float: left; font-weight: bold">Members: </h4>
                    @foreach (var member in @group.GroupMembers)
                    {
                        <p class="members-list">@member.ApplicationUser.UserName</p>
                    }
                </div>
                <br>
            }
        }
        else
        {
            <p style="font-size: 150%;">No Groups Yet</p>
        }
    </div>

    <div class="col-md-5">
        @{ Html.RenderPartial("CreateGroup", new Group()); }
       

    </div>


</div>

