﻿@model Fiction2.Models.GroupViewModel

@{
    ViewData["Title"] = "ViewGroup";
}

<div class="container" style="margin-top: 60px;">
    <h2 style="color: #659EC7; font-size: 300%;">@Model.Name</h2>
    <p style="font-size: 125%;">@Model.Description</p>
    <hr />
    @if (!Model.IsUsers)
    {
        <form asp-action="JoinGroup" method="post" style="float: right; margin-top: -60px;">
            <input asp-for="Id" type="hidden" value="@Model.Id">
            <button class="btn btn-primary" type="submit" style="">Join</button>
        </form>
    }


    <div class="row">
        <div class="col-md-4">
            <h4 style="font-weight: bold; font-size: 175%;">Members</h4>

            @foreach (var member in Model.GroupMembers)
            {
                <a asp-controller="Main" asp-action="Profile" asp-route-id="@member.ApplicationUserId" class="members-list" style="float: none; font-size: 150%;">@member.ApplicationUser.UserName</a>
                <br>
            }

            @if (Model.IsUsers)
            {

                <h4 style="font-weight: bold; font-size: 175%; margin-top: 50px;">Join Request</h4>

                @if (Model.JoinRequests.Count > 0)
                {
                    @foreach (var member in Model.JoinRequests)
                    {
                        <table class="table">
                            <tr>
                                <td style="border: none; font-size: 150%"><a style="color: #659EC7;" asp-controller="Main" asp-action="Profile" asp-route-id="@member.ApplicationUserId">@member.ApplicationUser.UserName</a> </td>
                                <td style="border: none;">
                                    <form asp-action="AcceptRequest" method="post">
                                        <input asp-for="Id" type="hidden" value="@Model.Id">
                                        <input asp-for="UserId" type="hidden" value="@member.ApplicationUser.Id">
                                        <button type="submit" class="btn btn-sm">Accept</button>
                                    </form>                                
                                </td>
                                <td style="border: none;">
                                    <form asp-action="DeclineRequest" method="post">
                                        <input asp-for="Id" type="hidden" value="@Model.Id">
                                        <input asp-for="UserId" type="hidden" value="@member.ApplicationUser.Id">
                                        <button type="submit" class="btn btn-sm">Decline</button>
                                    </form>                                
                                </td>
                            </tr>
                        </table>
                    }
                }
                else
                {
                    <p style="color: #659EC7; font-size: 150%">No Join Requests</p>
                }


            }
        </div>
        <div class="col-md-8" style="border-left: 1px solid #888888; height: 450px;">
            <h4 style="font-weight: bold; font-size: 175%;">Books</h4>
            <div class="books" style="margin-left: 3%;">

                @foreach (var book in Model.Books)
                {

                    var base64 = Convert.ToBase64String(book.Image);
                    string imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    var pageAction = "Read";
                    if (Model.IsUsers)
                    {
                        pageAction = "Write";
                    }

                    <div class="thumbnail">
                        <a asp-controller="Books" asp-action="@pageAction" asp-route-id="@book.Id">
                            <img src="@imgSrc" alt="Lights" style="width:90%; height: 90%;">
                            <div class="caption" style="text-align: center; padding: 10px 0;">
                                <p><b>@book.Name</b></p>
                            </div>
                        </a>
                    </div>
                }



                @if (Model.IsUsers)
                {
                    <div class="thumbnail">
                        <a asp-action="MyBooks">
                            <img src="~/images/add1.png" alt="Lights" style="width:60%; height: 60%; box-shadow: none; opacity: 0.1; margin-top: 20%; background-color: white">
                            <div class="caption" style="text-align: center; padding: 10px 0;">
                                <p><b>Add a New Book</b></p>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
