﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "REGISTER";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fiction</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/ckeditor/ckeditor.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style type="text/css">
        body {
            background-image: url(../../../../images/bg1.jpg);
        }
    </style>

    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById("viewImage").src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navigation-account">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html" style="color:#659EC7; font-weight: 600">GroupFiction</a>

                </div>

                <div class="navbar-collapse collapse">
                    <div class="menu">
                        <ul class="nav navbar-nav" role="tablist" style="float: right;">
                            <li role="presentation"><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="color:#659EC7; font-weight: 600">LOGIN</a></li>
                            <li role="presentation"><a href="contact.html" style="color:#659EC7; font-weight: 600">ABOUT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <h1 id="indexH1">Join Writers from Around the World to Create the Next Best Seller</h1>
        <div id="loginBox" class="container" style="padding-top: 0px; padding-bottom: 5px">
            <h2 id="indexH1" style="color: black;">@ViewData["Title"]</h2>
            <hr style="border-top: 1px solid #aaaaaa; opacity: 0.5;" />
            <div class="row">
                <div class="col-md-12">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post"  enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <img class="img-rounded" id="viewImage" src="~/images/admin2.png" alt="ICON" style="margin-top:-10px;margin-left: 12%;">
                        <div class="form-group">
                            <label class="btn btn-default btn-file" style="color:#999999 ">
                                Add a Profile Image <input asp-for="Input.Image" type="file" style="display: none;" onchange="readURL(this)">
                            </label>
                            <span asp-validation-for="Input.Image" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="margin-top: 30px;">
                            <input asp-for="Input.FullName" class="form-control" placeholder="Full Name" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <textarea style="border-radius: 3%; border: 1px solid #bbbbbb; color: #dddddd" asp-for="Input.About" cols="52" rows="3" placeholder="About Yourself..."></textarea>
                            <span asp-validation-for="Input.About" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}