﻿@model Fiction2.Models.Book

@{
    ViewData["Title"] = "Read";
}

<div class="row" style="padding: 0; margin-left: -13%; width: 125%;">
    <div class="col-md-2 left-aside">
        @{var base64 = Convert.ToBase64String(Model.Image);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
        }
        <img style="width: 70%; margin-left: 10%;" src="@imgSrc">
        <p><h4>Name: </h4>@Model.Name</p>
        <p><h4>Description: </h4>@Model.Description</p>
    </div>
    <div class="col-md-8">
        <div class="book">
            @Html.Raw(Model.Content)
        </div>
    </div>
    <div class="col-md-2 right-aside-group">
        <div>
            <h3 style="font-weight: bold; color: #659EC7; margin-left: 30%; margin-bottom: 20px;">GROUP</h3>
            <h4><b>Name:</b> </h4><span>@Model.Group.Name</span>
            <h4><b>Description:</b> </h4><span>@Model.Group.Description</span>
            <h4><b>Members:</b> </h4>
            @foreach (var member in Model.Group.GroupMembers)
            {
                <a>@member.ApplicationUser.UserName</a>
            }

        </div>
    </div>

</div>
