﻿@model Fiction2.Models.BookViewModel

@{
    ViewData["Title"] = "Write";
}

<div class="row" style="padding: 0; margin-left: -13%; width: 127%;">
    <div class="col-md-2 left-aside">
        @{var base64 = Convert.ToBase64String(Model.Book.Image);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
        }
        <img style="width: 60%; " src="@imgSrc">
        <p><h4>Name: </h4>@Model.Book.Name</p>
        <p><h4>Description: </h4>@Model.Book.Description</p>
        <p><h4>Last Updated: </h4>@Model.Book.LastUpdated</p>
        <p><h4>Last Updated By: </h4>@Model.Book.LastUpdatedBy</p>
        <p><h4>Group: </h4>@Model.Book.Group.Name</p>
    </div>
    <div class="col-md-7">
        <form style="margin-top: 50px;" asp-action="Save" method="post">
            <input asp-for="Book.Id" type="hidden">
            <input asp-for="Book.Name" type="hidden">
            <input asp-for="Book.Image" type="hidden">
            <input asp-for="Book.Description" type="hidden">
            <input asp-for="Book.Group" type="hidden">
            <textarea asp-for="Book.Content" id="editor1" rows="1" cols="1">
                This is my textarea to be replaced with CKEditor.<b>jhgfjhgf jhgfhgf</b>
            </textarea>

            <div class="form-group">
                <button type="submit" class="btn btn-default" style="float: right; margin-top: 1%;">Save</button>
            </div>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('editor1', { height: 490 });
            </script>
        </form>
    </div>
    <div class="col-md-3 right-aside">
        <div class="discussion" style="width: 100%;">
            <h3 style="font-weight: bold; color: #659EC7; margin-left: 30%; margin-bottom: 20px;">Discussion</h3>
            <form asp-action="Post" method="post" style="width: 100%;">
                <input asp-for="BookId" type="hidden" value="@Model.Book.Id">
                <div class="form-group">
                    <input asp-for="Post.Content" class="form-control" placeholder="Post..." style="width: 80%;" />
                    <span asp-validation-for="Post.Content" class="text-danger"></span>
                    <button type="submit" class="btn btn-primary" style="float: right; margin-top: -33px;">Post</button>
                </div>
            </form>
            <div class="posts">
                @foreach (var post in Model.Posts)
                {
                    <div class="post">
                        <a>@post.ApplicationUser.UserName</a>
                        <p>@post.Content</p>
                        <p style="color: #888888; float: right; font-size: 75%; margin-top: -15px;">@post.Date</p>
                    </div>
                }


            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
